/SumadorParalelo/nbproject/private/
/SumadorParalelo/build/
/GestorBancario/nbproject/private/
/GestorBancario/build/
/HorasTrabajadas/nbproject/private/
/HorasTrabajadas/build/
/FilosofosComensales/nbproject/private/
/ExamenHilos/nbproject/private/
/BarberosConLanzador/nbproject/private/
/ExamenHilos/build/
/GrandesAlmacenes/nbproject/private/
/GrandesAlmacenes/build/
/GrandesAlmacenes/dist/
/SimuladorCasino/nbproject/private/
/SimuladorCasino/build/
/SimuladorCasino/dist/